/vendor
/Front
/node_modules
/public/hot

/public/storage
/storage/*.key
/storage/app/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
!storage/app/.gitkeep
!storage/app/public/.gitkeep
!storage/framework/.gitkeep
!storage/framework/cache/.gitkeep
!storage/framework/sessions/.gitkeep
!storage/framework/testing/.gitkeep
!storage/framework/views/.gitkeep
!storage/logs/.gitkeep
/storage/framework/sessions/session_*
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
storage/framework/views/aa1664348371a7b1a92225ecfb58523a.php
storage/logs/laravel.log
database/database.sqlite
storage/logs/laravel.log
storage/logs/laravel.log
storage/logs/laravel.log

sync_config.jsonc
bootstrap/cache/routes-v7.php
tests/Feature/CategoryProductsTest.php
